#container{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -290px;
	margin-left: -500px;
	height: 580px;
	width: 1000px;
	background-image: url('background.png');
	background-size: 1000px 580px;
}

#account_input{
	border-radius:7.5px;
	position: absolute;
	font-size: 24px;
	font-family: Microsoft JhengHei;
	top: 200px;
	left: 200px;
}

#password_input{
	border-radius:7.5px;
	position: absolute;
	font-size: 24px;
	font-family: Microsoft JhengHei;
	top: 275px;
	left: 200px;
}

#submit_button{
	background-color: #FCF0C2;
	position: absolute;
	font-size: 20px;
	padding: 10px 120px;
	font-family: Microsoft JhengHei;
	top: 400px;
	left: 365px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#register_button{
	background-color: #C7D9F0;
	position: absolute;
	font-size: 20px;
	padding: 10px 100px;
	font-family: Microsoft JhengHei;
	font-size: 20px;
	top: 475px;
	left: 365px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#forget{
	color: #588FD3;
	position: absolute;
	font-size: 24px;
	font-family: Microsoft JhengHei;
	top: 275px;
	left: 650px;
}

h1{
	color: red;
	position: absolute;
	font-size: 24px;
	font-family: Microsoft JhengHei;
	top: 320px;
	left: 385px;
}


#account_text{
	position: absolute;
	color: #737373;
	font-family: Microsoft JhengHei;
	font-size: 32px;
	left: 120px;
	top: 165px;
}

#password_text{
	position: absolute;
	color: #737373;
	font-family: Microsoft JhengHei;
	font-size: 32px;
	left:120px;
	top: 240px;
}
