#container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -500px;
    height: 580px;
    width: 1000px;
    background-image: url('RecordBG.png');
    background-size: 1000px 580px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Table Property */


#table{
	/*opacity: 0.9;*/
	position: absolute;
	overflow: auto;
	height: 380px;
    width: 900px;
	top: 130px;
	left: 50px;
}

#trans_list{
	border-collapse: collapse;
	width: 100%;
}

#trans_list td, #trans_list th{
	font-size: 16px;
	border: 1px solid #ddd;
	padding: 8px;
} 

/*#trans_list tr:nth-child(even){background-color: #f2f2f2;}*/


#trans_list tr:hover{background-color: #ffd699;}

#trans_list th{
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: middle;
	background-color: #f6f6f6;
	color: #404040;
}

#trans_list tr{

	background-color: white;
	text-align: right;
}

#trans_list td{
	padding: 0px;
}
